
body {
    background-color: #01427f
}

.logo-image {
    width: 200px;
}

.main {
    text-align: center;
}

.main-container{
    margin-top: 50px;
}

.hidden {
    display:none;
}

.show {
    display: block;
}

.dog-image{
    list-style: none;
}

.dog-card{
    text-align: center;
    width: 660px;
    margin: auto;
}

.doggo-list{
    margin: auto;
    width: 554px;
}

.doggo{
    width:200px;
    margin:5px;
}

.logo-image {
    width: 200px;
    margin: auto;
}